<template>
  <div class="d-flex" :class="elClass">
    <template v-if="type === 'playlist'">
      <Button :onClick="onPlay" class="entity-action__btn entity-action__btn--play">
        Слушать
      </Button>
      <Button :onClick="onPause" class="entity-action__btn entity-action__btn--pause">
        Пауза
      </Button>
      <Button :onClick="onFollow" class="entity-action__btn entity-action__btn--follow" isBlack="true">
        Добавить в медиатеку
      </Button>
      <Button :onClick="onUnfollow" class="entity-action__btn entity-action__btn--unfollow" isBlack="true">
        Удалить из медиатеки
      </Button>
    </template>
    <template v-else-if="type === 'artist'">
      <Button :onClick="followArtist" class="entity-action__btn entity-action__btn--follow" isBlack="true">
        Подписаться
      </Button>
      <Button :onClick="unFollowArtist" class="entity-action__btn entity-action__btn--unfollow" isBlack="true">
        Отписаться
      </Button>
    </template>
  </div>
</template>

<script>
import api from '../../api';
import { mapGetters } from 'vuex';
import Button from '@/components/Ui/Button';

export default {
  name: 'EntityAction',
  props: {
    uri: {
      required: true
    },
    playlistID: {
      required: false
    },
    ownerID: {
      required: true
    },
    type: {
      required: true
    },
    artists: {
      required: false
    }
  },
  data: () => ({
    isFollowing: false
  }),
  computed: {
    ...mapGetters('profile', ['profile']),
    ...mapGetters('player', ['playbackContext']),
    elClass() {
      return [
        'entity-action',
        {
          'entity-action--playing':
            !this.playbackContext.paused &&
            this.playbackContext.context &&
            this.playbackContext.context.uri === this.uri,
          'entity-action--following': this.isFollowing
        }
      ];
    }
  },
  methods: {
    onPlay() {
      if (this.playbackContext.context.uri === this.uri) {
        api.play();
      } else {
        api.play({ context_uri: this.uri });
      }
    },
    onPause() {
      api.pause();
    },
    async followArtist() {
      await api.followArtists([this.artists]);
      this.isFollowing = !this.isFollowing;
      await this.$store.dispatch('myArtists/getMyChangedArtists');
      this.$toasted.show('Добавлено в медиатеку', {
        type: 'info'
      });
    },
    async unFollowArtist() {
      await api.unfollowArtists([this.artists]);
      this.isFollowing = !this.isFollowing;
      await this.$store.dispatch('myArtists/getMyChangedArtists');
      this.$toasted.show('Удалено из медиатеки', {
        type: 'info'
      });
    },
    async onFollow() {
      try {
        await api.followPlaylist(this.playlistID, this.ownerID);
        this.isFollowing = !this.isFollowing;

        this.$store.commit('playlist/setMyPlaylists', []);
        await this.$store.dispatch('playlist/getMyPlaylists');
        this.$toasted.show('Добавлено в медиатеку', {
          type: 'info'
        });
      } catch (e) {
        this.$toasted.show(`${e}`, {
          type: 'error'
        });
      }
    },
    async onUnfollow() {
      try {
        await api.unfollowPlaylist(this.playlistID, this.ownerID);
        this.isFollowing = !this.isFollowing;

        this.$store.commit('playlist/setMyPlaylists', []);
        await this.$store.dispatch('playlist/getMyPlaylists');
        this.$toasted.show('Удалено из медиатеки', {
          type: 'info'
        });
      } catch (e) {
        this.$toasted.show(`${e}`, {
          type: 'error'
        });
      }
    },
    async checkUserFollowArtist() {
      await api.isFollowingArtists([this.artists]).then(
        data => {
          this.isFollowing = data[0];
        },
        err => {
          this.$toasted.show(`${err}`, {
            type: 'error'
          });
        }
      );
    },
    async checkIfUserFollowPlaylist() {
      await api.areFollowingPlaylist(this.playlistID, [this.profile.id]).then(
        data => {
          this.isFollowing = data[0];
        },
        err => {
          this.$toasted.show(`${err}`, {
            type: 'error'
          });
        }
      );
    },
    async init() {
      if (this.type === 'artist') {
        await this.checkUserFollowArtist();
      } else {
        await this.checkIfUserFollowPlaylist();
      }
    }
  },
  watch: {
    async $route() {
      await this.init();
    }
  },
  async mounted() {
    await this.init();
  },
  components: {
    Button
  }
};
</script>

<style lang="scss" scoped>
@import '@/scss/_variables';

.entity-action {
  padding: $gutter 0 $gutter / 1.5;

  &--playing {
    .entity-action__btn--play {
      display: none;
    }
    .entity-action__btn--pause {
      display: block;
    }
  }
  &--following {
    .entity-action__btn--follow {
      display: none;
    }
    .entity-action__btn--unfollow {
      display: block;
    }
  }
  &__btn {
    margin-right: $gutter / 1.5;
    &--pause,
    &--unfollow {
      display: none;
    }
  }
}
</style>
