<template>
  <div class="entity-info d-flex">
    <div class="entity-info__cover">
      <img v-if="coverImg[0]" class="entity-info__cover-img" :src="coverImg[0].url" alt="cover" />
    </div>

    <div class="entity-info__info d-flex flex-column j-c-end">
      <div class="entity-info__type">{{ type }}</div>
      <h3 class="entity-info__name">{{ name }}</h3>
      <p class="entity-info__desc" v-if="description" v-html="$options.filters.convertURLs(description)"></p>

      <div v-if="artists && type !== 'artist'" class="entity-info__artists">
        By
        <router-link
          class="entity-info__link"
          v-for="(artist, index) in artists"
          :key="index"
          :to="{ name: 'artist', params: { id: artist.id } }"
        >
          {{ artist.name }}
          <template v-if="index !== artists.length - 1">,&nbsp;</template>
        </router-link>
      </div>

      <div v-if="author" class="entity-info__author">Author: {{ author }}</div>
      <EntityAction v-if="type === 'playlist'" :type="type" :playlistID="playlistID" :uri="uri" :ownerID="ownerID" />
      <EntityAction v-if="type === 'artist'" :type="type" :uri="uri" :ownerID="ownerID" :artists="artists" />
    </div>

    <div v-if="followers" class="entity-info__followers">
      <div>Followers</div>
      {{ followers }}
    </div>
  </div>
</template>

<script>
import EntityAction from './EntityAction';

export default {
  name: 'EntityInfo',
  props: {
    uri: {
      required: true
    },
    playlistID: {
      type: String,
      required: false
    },
    coverImg: {
      type: Array,
      required: false
    },
    type: {
      type: String,
      required: true
    },
    name: {
      type: String,
      required: true
    },
    description: {
      type: String,
      required: false
    },
    author: {
      type: String,
      required: false
    },
    artists: {
      required: false
    },
    followers: {
      type: [Number, String],
      required: false
    },
    ownerID: {
      type: String,
      required: false
    }
  },
  components: {
    EntityAction
  }
};
</script>

<style lang="scss" scoped>
@import '@/scss/_variables';

.entity-info {
  position: relative;
  padding: $gutter;
  font-size: 12px;
  &__cover {
    position: relative;
    width: 40%;
    min-width: 150px;
    max-width: 200px;
    max-height: 200px;
    background: $c-black;
    box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.4);
  }

  &__cover-img {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
  }

  &__info {
    width: 60%;
    padding: $gutter $gutter 0;
  }

  &__type {
    font-size: 11px;
    text-transform: uppercase;
  }

  &__name {
    margin: $gutter / 1.5 0;
  }

  &__desc,
  &__artists {
    color: $c-gray;
  }

  &__followers {
    display: block !important;
    position: absolute;
    right: $gutter;
    bottom: $gutter;
    color: $c-gray;
    line-height: $gutter;
    text-align: right;
    text-transform: uppercase;
  }
}
</style>
