$iconWidth: 36px;

.audio-icon {
  width: $iconWidth;
  height: $iconWidth / 1.6;
  display: flex;
  align-items: center;

  .audio-icon-nib {
    width: $iconWidth / 5;
    background: $c-white;
    margin-right: 2px;
    border-radius: 3px;

    &:nth-child(even) {
      height: 100%;
    }

    &:nth-child(odd) {
      height: 40%;
    }
  }
}

$animationSpeed: 0.4s;

.audio-icon.is-active {
  .audio-icon-nib {
    &:nth-child(even) {
      animation: $animationSpeed ease-in-out 0.15s infinite alternate pulseDownUp;
    }
    &:nth-child(odd) {
      animation: $animationSpeed ease-in-out 0.25s infinite alternate pulseUpDown;
    }
    &:nth-child(3) {
      animation: $animationSpeed ease-in-out 0.15s infinite alternate pulseUpDownFar;
    }
  }
}

@keyframes pulseUpDown {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(2);
  }
}

@keyframes pulseUpDownFar {
  from {
    transform: scaleY(1.8);
  }
  to {
    transform: scaleY(2.8);
  }
}

@keyframes pulseDownUp {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0.8);
  }
}
