.toasted-container {
  &.bottom-center {
    bottom: 100px !important;
  }
}

.toasted {
  &-primary {
    &.info {
      background-color: $c-primary !important;
    }
    &.success {
      background: $c-success !important;
    }
    &.error {
      background: $c-danger !important;
    }
  }
}
