.tippy-popper {
  .tippy-tooltip {
    background: lighten($c-black, 13%);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.9);
  }
  .tippy-arrow {
    border-top: 8px solid lighten($c-black, 13%) !important;
  }
}
