<template>
  <div v-scroll @vScroll="loadMore">
    <EntityInfo
      :coverImg="playlist.images"
      :type="playlist.type"
      :name="playlist.name"
      :description="playlist.description"
      :author="playlist.owner.display_name"
      :followers="playlist.followers.total"
      :uri="playlist.uri"
      :playlistID="playlistID"
      :ownerID="playlist.owner.id"
    />
    <TracksTable :items="tracks.items" :contextUri="playlist.uri" />
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import TracksTable from '@/components/TracksTable';
import EntityInfo from '@/components/Entity/EntityInfo';

export default {
  name: 'Playlist',
  computed: {
    ...mapGetters('playlist', ['playlist', 'tracks', 'isMore', 'playlistID'])
  },
  methods: {
    async getPlaylistTracks() {
      await this.$store.dispatch('playlist/getPlaylistTracks');
    },
    async loadMore(ev) {
      if (this.isMore) {
        return false;
      }

      if (ev.detail.scrollbarV.percent > 70) {
        this.$store.commit('playlist/setIsMore', true);
        await this.getPlaylistTracks();
      }
    },
    async init() {
      this.$store.commit('playlist/setUserId', this.$route.params.user_id);
      this.$store.commit('playlist/setPlaylistId', this.$route.params.playlist_id);
      this.$store.commit('playlist/initData');

      await this.$store.dispatch('playlist/fetchPlaylist');
      await this.getPlaylistTracks();
    }
  },
  watch: {
    async $route() {
      await this.init();
    }
  },
  async mounted() {
    await this.init();
  },
  components: {
    TracksTable,
    EntityInfo
  }
};
</script>

<style></style>
