<template>
  <DropdownMenu v-model="show" class="dropdown">
    <button class="dropdown__toggle">
      <img :src="profile.images[0].url" alt="" />
      {{ profile.display_name }}
      <i class="las la-angle-down" :class="{ active: show }" />
    </button>
    <div class="dropdown__menu" slot="dropdown">
      <a class="dropdown-item" :href="profile.external_urls.spotify" target="_blank">Профиль</a>
      <span @click="logout()" class="dropdown-item">Выйти</span>
    </div>
  </DropdownMenu>
</template>

<script>
export default {
  name: 'Dropdown',
  data: () => ({
    show: false
  }),
  props: ['profile'],
  methods: {
    logout() {
      this.$cookies.remove('spotifyToken');
      this.$store.commit('auth/setToken', null);
      this.$router.push('/login');
    }
  }
};
</script>

<style lang="scss">
@import '@/scss/_variables';
.dropdown {
  &-menu {
    position: absolute;
    width: 100%;
    border-radius: $gutter / 3;
    margin-top: 5px;
    .dropdown-item {
      display: block;
      color: $c-white;
      text-decoration: none;
      background: lighten($c-black, 10%);
      padding: $gutter / 3 $gutter / 2;
      font-size: 14px;
      font-weight: 700;
      cursor: pointer;
      &:hover {
        color: $c-success;
      }
    }
  }
}
</style>

<style lang="scss" scoped>
@import '@/scss/_variables';

.dropdown {
  position: relative;
  &__toggle {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    margin-left: auto;
    cursor: pointer;
    background: lighten($c-black, 10%);
    border: 0;
    color: $c-white;
    border-radius: $gutter / 3;
    padding: $gutter / 3;
    outline: none;
    img {
      width: 28px;
      height: 28px;
      object-fit: cover;
      object-position: center;
      margin-right: 8px;
      border-radius: 100%;
    }
    .las {
      margin-left: 5px;
      &.active {
        transform: rotate(180deg);
      }
    }
  }
  &__menu {
    width: 100%;
  }
}
</style>
