<template>
  <div class="track-list">
    <TrackListItem
      v-for="(item, index) in tracks"
      :key="index"
      :index="index"
      :item="item"
      :contextUri="contextUri"
      :showArtists="showArtists"
      :tracksUris="tracksUris"
    />
  </div>
</template>

<script>
import TrackListItem from './TrackListItem';

export default {
  name: 'TrackList',
  data: () => ({
    tracksUris: []
  }),
  props: {
    tracks: {
      type: Array,
      required: true
    },
    showArtists: {
      type: Boolean,
      default: false
    },
    contextUri: {
      type: String,
      required: false
    }
  },
  methods: {
    getTrackUris() {
      if (this.tracks.length) {
        this.tracksUris = this.tracks.map(item => {
          return item.uri;
        });
      }
    }
  },
  async mounted() {
    this.getTrackUris();
  },
  watch: {
    tracks: function() {
      this.getTrackUris();
    }
  },
  components: {
    TrackListItem
  }
};
</script>

<style></style>
