<template>
  <div
    class="track-list-item d-flex a-i-center"
    :class="{ active: item.id === playback.item.id, padding: showArtists }"
  >
    <div class="track-list-item__image">
      <TrackImage
        v-if="item.album"
        :imageUri="item.album.images[2].url"
        :uri="{ name: 'album', params: { id: item.album.id } }"
        :alt="item.album.name"
      />
      <TrackPlayButton
        :class="{ relative: !item.album }"
        :trackUri="item.uri"
        :tracksUris="tracksUris"
        :contextUri="contextUri"
        :offset="index"
      />
    </div>
    <div class="track-list-item__index">
      {{ index + 1 }}
    </div>

    <AddToSaved :trackID="item.id" :isSaved="isSavedTrack" @checkSavedTrack="checkSavedTrack" />

    <div class="track-list-item__name">
      {{ item.name }}
    </div>

    <span class="track-list-item__artist">
      &nbsp;-&nbsp;
      <router-link
        class="tracks-list__link"
        v-for="(artist, index) in item.artists"
        :key="artist.id"
        :to="{ name: 'artist', params: { id: artist.id } }"
      >
        {{ artist.name }}
        <template v-if="index !== item.artists.length - 1">
          ,&nbsp;
        </template>
      </router-link>
    </span>

    <Exclipit v-if="item.explicit" />

    <div class="track-list-item__duration">
      {{ item.duration_ms | msToMinutes }}
    </div>
  </div>
</template>

<script>
import api from '../../api';
import { mapGetters, mapState } from 'vuex';
import TrackPlayButton from '@/components/TrackPlayButton';
import AddToSaved from '@/components/AddToSaved';
import TrackImage from '@/components/TrackImage';
import Exclipit from '@/components/Exclipit';

export default {
  name: 'TrackListItem',
  data: () => ({
    isSavedTrack: undefined
  }),
  props: ['index', 'item', 'contextUri', 'showArtists', 'tracksUris'],
  computed: {
    ...mapGetters('player', ['playback', 'playbackContext']),
    ...mapState('search', ['tracks'])
  },
  watch: {
    item: async function() {
      await this.checkSavedTrack();
    }
  },
  methods: {
    async checkSavedTrack() {
      await api.containsMySavedTracks([this.item.id]).then(
        data => {
          this.isSavedTrack = data[0];
        },
        err => {
          console.log(err);
        }
      );
    }
  },
  async mounted() {
    await this.checkSavedTrack();
  },
  components: {
    TrackPlayButton,
    AddToSaved,
    TrackImage,
    Exclipit
  }
};
</script>

<style lang="scss" scoped>
@import '@/scss/_variables';

.track-list-item {
  border-bottom: 1px solid $c-gray;
  &.padding {
    padding: $gutter / 2 0;
  }
  &__index {
    padding-right: $gutter;
  }
  &__image {
    position: relative;
    margin-right: $gutter / 1.5;
    .track-playback {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      &.relative {
        position: static;
        transform: none;
      }
    }
  }
  .add-to-saved {
    margin-left: 0;
    font-size: 20px;
    margin-right: $gutter;
  }
  &__name {
    font-size: 15px;
    margin-right: $gutter / 3;
  }
  &__artist {
    margin-right: auto;
    font-size: 14px;
  }
  &.active {
    .track-list-item__name {
      color: $c-success;
    }
  }
  &__duration,
  &__index {
    color: $c-gray;
    font-size: 14px;
  }
}
</style>
