<template>
  <div class="albums" v-scroll @vScroll="loadMore">
    <PageTitle title="Мои альбомы" />

    <media-container>
      <media-object
        v-for="(item, index) in albums.items"
        :key="index"
        :id="item.album.id"
        :uri="item.album.uri"
        :coverImg="item.album.images"
        :name="item.album.name"
        :artists="item.album.artists"
        :type="item.album.type"
      />
    </media-container>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import MediaContainer from '@/components/MediaContainer';
import MediaObject from '@/components/MediaObject';
import PageTitle from '@/components/PageTitle';

export default {
  name: 'Albums',
  computed: {
    ...mapGetters('albums', ['albums'])
  },
  methods: {
    async loadMore(ev) {
      if (this.albums.isMore) {
        return false;
      } else {
        if (ev.detail.scrollbarV.percent > 70) {
          this.$store.commit('albums/setIsMore', true);
          await this.$store.dispatch('albums/getMyAlbums');
        }
      }
    }
  },
  async mounted() {
    await this.$store.dispatch('albums/getMyAlbums');
  },
  components: {
    MediaContainer,
    MediaObject,
    PageTitle
  }
};
</script>

<style lang="scss" scoped></style>
