<template>
  <div class="albums" v-scroll @vScroll="loadMore">
    <PageTitle title="Исполнители" />

    <media-container>
      <media-object
        v-for="(item, index) in myArtists.items"
        :key="index"
        :id="item.id"
        :uri="item.uri"
        :coverImg="item.images"
        :name="item.name"
        :type="item.type"
      />
    </media-container>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import MediaContainer from '@/components/MediaContainer';
import MediaObject from '@/components/MediaObject';
import PageTitle from '@/components/PageTitle';

export default {
  name: 'Artists',
  computed: {
    ...mapGetters('myArtists', ['myArtists'])
  },
  methods: {
    async loadMore(ev) {
      if (this.myArtists.isMore) {
        return false;
      } else {
        if (ev.detail.scrollbarV.percent > 70) {
          this.$store.commit('myArtists/setIsMore', true);
          await this.$store.dispatch('myArtists/getMyArtists');
        }
      }
    }
  },
  async mounted() {
    await this.$store.dispatch('myArtists/getMyArtists');
  },
  components: {
    MediaContainer,
    MediaObject,
    PageTitle
  }
};
</script>

<style lang="scss" scoped></style>
