<template>
  <div class="tracks" v-scroll @vScroll="loadMore">
    <PageTitle title="Любимые треки" />
    <TracksTable :items="tracks.items" />
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import TracksTable from '@/components/TracksTable';
import PageTitle from '@/components/PageTitle';

export default {
  name: 'Tracks',
  computed: {
    ...mapGetters('tracks', ['tracks'])
  },
  methods: {
    async loadMore(ev) {
      if (this.tracks.isMore) {
        return false;
      } else {
        if (ev.detail.scrollbarV.percent > 70) {
          this.$store.commit('tracks/setIsMore', true);
          await this.$store.dispatch('tracks/getMyTracks');
        }
      }
    }
  },
  async mounted() {
    await this.$store.dispatch('tracks/getMyTracks');
  },
  components: {
    TracksTable,
    PageTitle
  }
};
</script>

<style lang="scss" scoped>
.tracks {
  height: calc(100vh - 190px);
  position: relative;
}
</style>
