<template>
  <div class="genre-view" v-scroll @vScroll="loadMore">
    <PageTitle :title="title" />

    <media-container>
      <media-object
        v-for="(item, index) in playlists"
        :key="index"
        :id="item.id"
        :uri="item.uri"
        :coverImg="item.images"
        :name="item.name"
        :type="item.type"
      />
    </media-container>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import MediaContainer from '@/components/MediaContainer';
import MediaObject from '@/components/MediaObject';
import PageTitle from '@/components/PageTitle';

export default {
  name: 'GenreView',
  computed: {
    ...mapGetters('genres', ['playlists', 'isMore', 'categoryID']),
    title() {
      return `${this.$route.params.id.replace('_', ' ')} playlists`;
    }
  },
  methods: {
    async getGenrePlaylist() {
      await this.$store.dispatch('genres/getGenrePlaylist', this.categoryID);
    },
    async loadMore(ev) {
      if (this.isMore) {
        return false;
      }

      if (ev.detail.scrollbarV.percent > 70) {
        this.$store.commit('genres/setIsMore', true);
        await this.getGenrePlaylist();
      }
    },
    async init() {
      this.$store.commit('genres/setCategoryId', this.$route.params.id);
      this.$store.commit('genres/initData');

      await this.getGenrePlaylist();
    }
  },
  watch: {
    async $route() {
      await this.init();
    }
  },
  async mounted() {
    await this.init();
  },
  components: {
    MediaContainer,
    MediaObject,
    PageTitle
  }
};
</script>
