<template>
  <div :class="elClass">
    <router-link tag="div" class="media-object__cover" :to="createUrl()">
      <img v-if="coverImg[0]" class="cover-image" v-lazy="coverImg[0].url" :alt="name + '-cover'" />

      <button class="media-object__play reset-btn" @click="onPlay">
        <i class="las la-play" />
      </button>
      <Equalizer />
      <button class="media-object__pause reset-btn" @click="onPause">
        <i class="las la-pause" />
      </button>
    </router-link>
    <button
      class="media-object__add reset-btn"
      @click="saveInstance"
      :title="isSavedInstance ? 'Удалить из медиатеки' : 'Добавить в медиатеку'"
      :class="{ added: isSavedInstance }"
    >
      <i class="las la-heart" />
    </button>

    <div class="media-object__info">
      <router-link class="media-object__name" :to="createUrl()"> {{ name }} </router-link>

      <div v-if="artists">
        <router-link
          class="media-object__artist"
          v-for="(artist, index) in artists"
          :key="artist.id"
          :to="{ name: 'artist', params: { id: artist.id } }"
        >
          {{ artist.name }}
          <template v-if="index !== artists.length - 1">,&nbsp;</template>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import spotifyApi from '../../api';
import Equalizer from '@/components/Equalizer';

export default {
  name: 'MediaObject',
  data: () => ({
    isSavedInstance: undefined
  }),
  props: {
    id: {
      required: true
    },
    uri: {
      required: true
    },
    coverImg: {
      required: true
    },
    name: {
      type: String,
      required: true
    },
    type: {
      required: true
    },
    artists: {
      required: false
    }
  },
  computed: {
    ...mapGetters('auth', ['token']),
    ...mapGetters('profile', ['profile']),
    ...mapGetters('player', ['playbackContext']),

    elClass() {
      return [
        'media-object',
        {
          'media-object--playing':
            this.playbackContext &&
            !this.playbackContext.paused &&
            this.playbackContext.context.uri &&
            this.playbackContext.context.uri.indexOf(this.id) >= 0,

          'media-object--active':
            this.playbackContext &&
            this.playbackContext.context.uri &&
            this.playbackContext.context.uri.indexOf(this.id) >= 0,

          'media-object--no-image': !this.coverImg[0]
        }
      ];
    }
  },
  async mounted() {
    await this.checkItemInAlbum();
  },
  methods: {
    async checkItemInAlbum() {
      if (this.type === 'album') {
        await spotifyApi.containsMySavedAlbums([this.id]).then(
          data => {
            this.isSavedInstance = data[0];
          },
          err => {
            this.$toasted.show(`${err}`, {
              type: 'error'
            });
          }
        );
      } else if (this.type === 'playlist') {
        await spotifyApi.areFollowingPlaylist(this.id, [this.profile.id]).then(
          data => {
            this.isSavedInstance = data[0];
          },
          err => {
            this.$toasted.show(`${err}`, {
              type: 'error'
            });
          }
        );
      } else if (this.type === 'artist') {
        await spotifyApi.isFollowingArtists([this.id]).then(
          data => {
            this.isSavedInstance = data[0];
          },
          err => {
            this.$toasted.show(`${err}`, {
              type: 'error'
            });
          }
        );
      }
    },
    createUrl() {
      const chunks = this.uri.split(':');
      let url = null;

      switch (this.type) {
        case 'album':
          url = { name: 'album', params: { id: this.id } };
          break;

        case 'artist':
          url = { name: 'artist', params: { id: this.id } };
          break;

        case 'playlist':
          url = {
            name: 'playlist',
            params: {
              user_id: chunks[2],
              playlist_id: chunks[chunks.length - 1]
            }
          };
          break;
      }

      return url;
    },
    onPlay(e) {
      e.stopPropagation();

      if (
        this.playbackContext &&
        this.playbackContext.context.uri &&
        this.playbackContext.context.uri.indexOf(this.id) >= 0
      ) {
        spotifyApi.setAccessToken(this.token);
        spotifyApi.play();
      } else {
        spotifyApi.setAccessToken(this.token);
        spotifyApi.play({ context_uri: this.uri });
      }
    },
    onPause(e) {
      e.stopPropagation();
      spotifyApi.setAccessToken(this.token);
      spotifyApi.pause();
    },
    async saveInstance() {
      if (this.type === 'album') {
        if (this.isSavedInstance) {
          await spotifyApi.removeFromMySavedAlbums([this.id]);
          this.$toasted.show('Удалено из медиатеки', {
            type: 'info'
          });
        } else {
          await spotifyApi.addToMySavedAlbums([this.id]);
          this.$toasted.show('Добавлено в медиатеку', {
            type: 'info'
          });
        }

        await this.$store.dispatch('albums/getMyChandedAlbums');
      } else if (this.type === 'artist') {
        if (this.isSavedInstance) {
          await spotifyApi.unfollowArtists([this.id]);
          this.$toasted.show('Удалено из медиатеки', {
            type: 'info'
          });
        } else {
          await spotifyApi.followArtists([this.id]);
          this.$toasted.show('Добавлено в медиатеку', {
            type: 'info'
          });
        }
        await this.$store.dispatch('myArtists/getMyChangedArtists');
      } else {
        if (this.isSavedInstance) {
          await spotifyApi.unfollowPlaylist([this.id]);
          this.$toasted.show('Удалено из медиатеки', {
            type: 'info'
          });
        } else {
          await spotifyApi.followPlaylist([this.id]);
          this.$toasted.show('Добавлено в медиатеку', {
            type: 'info'
          });
        }
        await this.$store.dispatch('playlist/getMyPlaylists');
      }
      await this.checkItemInAlbum();
    }
  },
  components: {
    Equalizer
  }
};
</script>

<style lang="scss">
@import '@/scss/_variables';

.media-object {
  .audio-icon {
    display: none;
  }
  &--active {
    .audio-icon {
      display: flex;
    }
  }
  &--playing {
    .audio-icon {
      display: flex;
    }
    &:hover {
      .audio-icon {
        display: none;
      }
    }
  }
}
</style>

<style scoped lang="scss">
@import '@/scss/_variables';

.media-object {
  position: relative;
  &__cover {
    width: 100%;
    height: 200px;
    position: relative;
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.3);
      content: '';
      opacity: 0;
      width: 100%;
      height: 100%;
    }
  }
  &__add {
    position: absolute;
    top: 84px;
    left: calc(50% - 65px);
    color: $c-white;
    z-index: 4;
    font-size: 30px;
    display: none;
    &.added {
      color: $c-success;
    }
  }
  &__pause,
  &__play {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 2px solid $c-white;
    color: $c-white;
    font-size: 18px;
  }
  &__pause,
  &__play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    display: none;
  }
  &:hover {
    .media-object__play,
    .media-object__add {
      display: block;
    }
    .media-object__cover {
      &::after {
        opacity: 1;
      }
    }
  }
  &--playing {
    &:hover {
      .media-object__pause {
        display: block;
      }
      .media-object__play,
      .audio-icon {
        display: none;
      }
    }
  }
  &__info {
    font-size: 14px;
    padding-top: 5px;
  }
  &__name {
    color: $c-white;
  }
  &__artist {
    font-size: 12px;
  }
  &--active {
    .media-object__cover {
      &::after {
        opacity: 1;
      }
    }
    &:hover {
      .audio-icon {
        display: none;
      }
    }
    .media-object__name {
      color: $c-success;
    }
  }
}
</style>
