<template>
  <div v-scroll>
    <EntityInfo
      v-if="album"
      :coverImg="album.images"
      :type="album.type"
      :name="album.name"
      :description="album.description"
      :uri="album.uri"
      :artists="album.artists"
    />
    <TrackList :tracks="tracks" :showArtists="true" :contextUri="album.uri" />
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import EntityInfo from '@/components/Entity/EntityInfo';
import TrackList from '@/components/TrackList';

export default {
  name: 'Album',
  computed: {
    ...mapGetters('albums', ['tracks', 'album'])
  },
  methods: {
    async getAlbum() {
      await this.$store.dispatch('albums/getAlbum');
    },
    async getAlbumTracks() {
      await this.$store.dispatch('albums/getAlbumTracks');
    }
  },
  async mounted() {
    this.$store.commit('albums/setAlbumId', this.$route.params.id);
    await this.getAlbum();
    await this.getAlbumTracks();
  },
  components: {
    EntityInfo,
    TrackList
  }
};
</script>

<style lang="scss" scoped></style>
