<template>
  <div class="new-releases" v-scroll @vScroll="loadMore">
    <PageTitle title="Мой топ артистов" />
    <media-container v-if="myTopArtists.items">
      <media-object
        v-for="item in myTopArtists.items"
        :id="item.id"
        :key="item.id"
        :uri="item.uri"
        :coverImg="item.images"
        :name="item.name"
        :type="item.type"
      />
    </media-container>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import MediaContainer from '@/components/MediaContainer';
import MediaObject from '@/components/MediaObject';
import PageTitle from '@/components/PageTitle';

export default {
  name: 'BrowseTopArtists',
  computed: {
    ...mapGetters('myTopArtists', ['myTopArtists'])
  },
  methods: {
    async loadMore(ev) {
      if (this.myTopArtists.isMore) {
        return false;
      }

      if (ev.detail.scrollbarV.percent > 70) {
        this.$store.commit('myTopArtists/setIsMore', true);
        await this.$store.dispatch('myTopArtists/getMyTopArtists');
      }
    }
  },
  async mounted() {
    await this.$store.dispatch('myTopArtists/getMyTopArtists');
  },
  components: {
    MediaContainer,
    MediaObject,
    PageTitle
  }
};
</script>

<style lang="scss" scoped>
.new-releases {
  height: calc(100vh - 190px);
  position: relative;
}
</style>
