<template>
  <div class="genres">
    <PageTitle title="Жанры" />
    <div class="genres__content">
      <div class="genre" v-for="(item, index) in items" :key="index">
        <router-link :to="{ name: 'genres', params: { id: item.id } }">
          <div class="genre__image-wrapper">
            <img v-lazy="item.icons[0].url" :alt="item.name" />
          </div>
          <div class="genre__name">{{ item.name }}</div>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import PageTitle from '@/components/PageTitle';

export default {
  name: 'BrowseGenres',
  computed: {
    ...mapGetters('genres', ['items'])
  },
  async mounted() {
    await this.$store.dispatch('genres/getGenres');
  },
  components: {
    PageTitle
  }
};
</script>

<style lang="scss" scoped>
@import '@/scss/_variables';

.genres {
  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: $gutter;
  }
  .genre {
    &__image-wrapper {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
}
</style>
