<template>
  <div class="new-releases" v-scroll @vScroll="loadMore">
    <PageTitle title="Новые релизы" />
    <media-container>
      <media-object
        v-for="item in newReleases.items"
        :id="item.id"
        :key="item.id"
        :uri="item.uri"
        :coverImg="item.images"
        :name="item.name"
        :artists="item.artists"
        :type="item.type"
      />
    </media-container>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import MediaContainer from '@/components/MediaContainer';
import MediaObject from '@/components/MediaObject';
import PageTitle from '@/components/PageTitle';

export default {
  name: 'BrowseNewReleases',
  computed: {
    ...mapGetters('newReleases', ['newReleases'])
  },
  methods: {
    async loadMore(ev) {
      if (this.newReleases.isMore) {
        return false;
      }

      if (ev.detail.scrollbarV.percent > 70) {
        this.$store.commit('newReleases/setIsMore', true);
        await this.$store.dispatch('newReleases/getNewReleases');
      }
    }
  },
  async mounted() {
    await this.$store.dispatch('newReleases/getNewReleases');
  },
  components: {
    MediaContainer,
    MediaObject,
    PageTitle
  }
};
</script>

<style lang="scss" scoped>
.new-releases {
  height: calc(100vh - 190px);
  position: relative;
}
</style>
