<template>
  <div class="browse">
    <PageNav :links="links" />

    <router-view />
  </div>
</template>

<script>
import PageNav from '@/components/PageNav';

export default {
  name: 'Home',
  data: () => ({
    links: [
      {
        to: { name: 'browseGenres' },
        title: 'Жанры и настроения'
      },
      {
        to: { name: 'browseNewReleases' },
        title: 'Новые релизы'
      },
      {
        to: { name: 'browseTopArtists' },
        title: 'Мой топ артистов'
      }
    ]
  }),
  components: {
    PageNav
  }
};
</script>
