<template>
  <div v-scroll>
    <EntityInfo
      :coverImg="artist.images"
      :type="artist.type"
      :name="artist.name"
      :uri="artist.uri"
      :followers="artist.followers.total"
      :artists="artist.id"
    />
    <PageTitle title="Популярное" />
    <TrackList :tracks="tracks" />

    <PageTitle title="Альбомы" style="margin-top: 30px;" />
    <MediaContainer v-if="albums">
      <MediaObject
        v-for="(item, index) in albums.items"
        :key="index"
        :id="item.id"
        :uri="item.uri"
        :coverImg="item.images"
        :name="item.name"
        :artists="item.artists"
        :type="item.type"
      />
    </MediaContainer>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import EntityInfo from '@/components/Entity/EntityInfo';
import MediaContainer from '@/components/MediaContainer';
import MediaObject from '@/components/MediaObject';
import PageTitle from '@/components/PageTitle';
import TrackList from '@/components/TrackList';

export default {
  name: 'Artist',
  computed: {
    ...mapGetters('artist', ['albums', 'tracks', 'artist'])
  },
  methods: {
    async init() {
      this.$store.commit('artist/setArtistId', this.$route.params.id);
      this.$store.commit('artist/initData');
      await this.$store.dispatch('artist/getArtist');
      await this.$store.dispatch('artist/getArtistAlbums');
      await this.$store.dispatch('artist/getArtistTopTracks');
    }
  },
  watch: {
    async $route() {
      await this.init();
    }
  },
  async mounted() {
    await this.init();
  },
  components: {
    EntityInfo,
    MediaContainer,
    MediaObject,
    PageTitle,
    TrackList
  }
};
</script>

<style lang="scss" scoped></style>
