<template>
  <h3>
    {{ title }}
  </h3>
</template>

<script>
export default {
  name: 'PageTitle',
  props: ['title']
};
</script>

<style lang="scss" scoped>
@import '@/scss/_variables';

h3 {
  margin-bottom: $gutter;
}
</style>
