<template>
  <span
    class="exclipit d-flex a-i-center j-c-center"
    content="Нецензурная лексика"
    v-tippy="{ placement: 'top', arrow: true }"
  >
    E
  </span>
</template>

<script>
export default {
  name: 'Exclipit'
};
</script>

<style lang="scss">
@import '@/scss/_variables';

.exclipit {
  width: 16px;
  height: 16px;
  background: darken($c-gray, 30%);
  font-size: 10px;
  border-radius: $gutter / 4;
  margin-right: $gutter / 3;
}
</style>
