<template>
  <div :class="elClass">
    <Equalizer />
    <button
      @click="play"
      class="track-playback__button track-playback__button--play reset-btn"
      content="Слушать"
      v-tippy="{ placement: 'top', arrow: true }"
    >
      <i class="las la-play" />
    </button>
    <button
      @click="pause"
      class="track-playback__button track-playback__button--pause reset-btn"
      content="Пауза"
      v-tippy="{ placement: 'top', arrow: true }"
    >
      <i class="las la-pause" />
    </button>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import api from '../../api';
import Equalizer from '@/components/Equalizer';

export default {
  name: 'TrackPlayButton',
  props: {
    trackUri: {
      required: true
    },
    tracksUris: {
      required: false
    },
    contextUri: {
      required: false
    },
    offset: {
      required: false
    }
  },
  computed: {
    ...mapGetters('player', ['playback', 'playbackContext']),
    elClass() {
      const isActiveTrack = this.playback.item && this.playback.item.uri === this.trackUri;

      return [
        'track-playback',
        {
          'track-playback--active': isActiveTrack,
          'track-playback--paused': isActiveTrack && this.playbackContext && this.playbackContext.paused
        }
      ];
    }
  },
  methods: {
    play() {
      if (this.contextUri) {
        api.play({ context_uri: this.contextUri, offset: { position: this.offset } });
      } else if (this.playback.item && this.playback.item.uri === this.trackUri) {
        api.play();
      } else {
        api.play({ context_uri: null, uris: this.tracksUris, offset: { uri: this.trackUri } });
      }
    },
    async pause() {
      await api.pause();
    }
  },
  components: {
    Equalizer
  }
};
</script>

<style lang="scss">
.track-playback {
  min-height: 25px;
  min-width: 36px;
  .audio-icon {
    display: none;
  }
  &--active {
    &:hover {
      .audio-icon {
        display: none;
      }
    }
    .audio-icon {
      display: flex;
    }
  }
  &--paused {
    &:hover {
      .audio-icon {
        display: none;
      }
    }
  }
}
</style>

<style lang="scss" scoped>
@import '@/scss/_variables';

.track-playback {
  position: relative;
  &__button {
    display: none;
    width: 25px;
    height: 25px;
    color: $c-white;
    font-size: 18px;
    line-height: 1;
    outline: 0;
    background: $c-success;
    border-radius: 100%;
    margin: auto;
    &--play {
      display: block;
    }
  }
  &--active {
    &:hover {
      .track-playback__button--play {
        display: none;
      }
      .track-playback__button--pause {
        display: block;
      }
    }
    .track-playback__button--play {
      display: none;
    }
    .track-playback__button--pause {
      display: none;
    }
  }
  &--paused {
    &:hover {
      .track-playback__button--pause {
        display: none;
      }
      .track-playback__button--play {
        display: block;
      }
    }
  }
}
</style>
