<template>
  <ul class="page-nav d-flex j-c-center">
    <router-link
      class="page-nav__item"
      v-for="(item, index) in links"
      v-show="item.isVisible !== undefined ? item.isVisible : true"
      :key="index"
      :to="item.to"
      exact
      active-class="active"
    >
      {{ item.title }}
    </router-link>
  </ul>
</template>

<script>
export default {
  name: 'PageNav',
  props: ['links']
};
</script>

<style lang="scss" scoped>
@import '@/scss/_variables';

.page-nav {
  &__item {
    margin: 0 $gutter / 2;
    color: $c-white;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    &.active {
      border-color: $c-success;
    }
  }
}
</style>
