<template>
  <div class="media-container">
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: 'MediaContainer'
};
</script>

<style lang="scss">
.media-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
}
</style>
