<template>
  <div class="tracks-table">
    <div class="tracks-table__head d-flex">
      <div class="tracks-table__empty"></div>
      <div class="tracks-table__head-name">Название</div>
      <div class="tracks-table__head-album">Альбом</div>
      <div class="tracks-table__head-date"><i class="las la-calendar"></i></div>
      <div class="tracks-table__head-time"><i class="las la-clock"></i></div>
    </div>
    <div class="tracks-table__body">
      <TrackTableItem
        v-for="(item, index) in items"
        :key="item.track.id"
        :item="item.track"
        :date="item.added_at"
        :index="index"
        :tracksUris="tracksUris"
        :contextUri="contextUri"
      />
    </div>
  </div>
</template>

<script>
import TrackTableItem from './TrackTableItem';

export default {
  name: 'TracksTable',
  data: () => ({
    tracksUris: []
  }),
  props: {
    items: {
      required: true,
      default: []
    },
    contextUri: {
      required: false
    }
  },
  methods: {
    getTrackUris() {
      if (this.items.length) {
        this.tracksUris = this.items.map(item => {
          return item.track.uri;
        });
      }
    }
  },
  watch: {
    items: function() {
      this.getTrackUris();
    }
  },
  mounted() {
    this.getTrackUris();
  },
  components: {
    TrackTableItem
  }
};
</script>

<style lang="scss" scoped>
@import '@/scss/_variables';

.tracks-table {
  &__head {
    border-bottom: 1px solid $c-gray;
    &-name {
      width: calc(50% - 109px);
    }
    &-album {
      width: 30%;
      padding-left: $gutter;
    }
    &-date {
      width: 10%;
    }
    &-time {
      width: 10%;
      text-align: right;
    }
  }
  &__empty {
    min-width: 109px;
  }
}
</style>
