<template>
  <div class="track d-flex a-i-center">
    <div class="track__btn">
      <AddToSaved @checkSavedTrack="checkSavedTrack" :isSaved="isSavedTrack" :trackID="item.id" />
    </div>
    <div class="track-info d-flex a-i-center">
      <div style="position: relative">
        <TrackImage
          :imageUri="item.album.images[2].url"
          :uri="{ name: 'album', params: { id: item.album.id } }"
          :alt="item.album.name"
        />
        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)">
          <TrackPlayButton :trackUri="item.uri" :tracksUris="tracksUris" :contextUri="contextUri" :offset="index" />
        </div>
      </div>

      <div class="track-info__text">
        <span
          class="text-ellipsis"
          :content="item.name"
          v-tippy="{ placement: 'top', arrow: true }"
          :to="{ name: 'album', params: { id: item.album.id } }"
        >
          {{ item.name }}
        </span>

        <div class="track-artist d-flex a-i-center">
          <Exclipit v-if="item.explicit" />
          <router-link
            class="link text-ellipsis"
            v-for="(artist, index) in item.artists"
            :key="index"
            :to="{ name: 'artist', params: { id: artist.id } }"
          >
            {{ artist.name }}
            <template v-if="index !== item.artists.length - 1">
              ,&nbsp;
            </template>
          </router-link>
        </div>
      </div>
    </div>
    <div class="track__album">
      <router-link
        class="link text-ellipsis"
        :content="item.album.name"
        v-tippy="{ placement: 'top', arrow: true }"
        :to="{ name: 'album', params: { id: item.album.id } }"
      >
        {{ item.album.name }}
      </router-link>
    </div>
    <div class="track__date">
      {{ date | moment('MM-DD-YYYY') }}
    </div>
    <div class="track__duration">
      {{ item.duration_ms | msToMinutes }}
    </div>
  </div>
</template>

<script>
import api from '../../api';
import { mapGetters } from 'vuex';
import AddToSaved from '@/components/AddToSaved';
import TrackImage from '@/components/TrackImage';
import TrackPlayButton from '@/components/TrackPlayButton';
import Exclipit from '@/components/Exclipit';

export default {
  name: 'TrackTableItem',
  data: () => ({
    isSavedTrack: undefined
  }),
  props: ['item', 'date', 'index', 'contextUri', 'tracksUris'],
  computed: {
    ...mapGetters('player', ['playback'])
  },
  methods: {
    async checkSavedTrack() {
      await api.containsMySavedTracks([this.item.id]).then(
        data => {
          this.isSavedTrack = data[0];
        },
        err => {
          this.$toasted.show(`${err}`, {
            type: 'error'
          });
        }
      );
    }
  },
  async mounted() {
    await this.checkSavedTrack();
  },
  components: {
    AddToSaved,
    TrackImage,
    TrackPlayButton,
    Exclipit
  }
};
</script>

<style lang="scss" scoped>
@import '@/scss/_variables';

.track {
  border-bottom: 1px solid $c-gray;
  padding: $gutter / 1.5 0;
  .link {
    font-size: 14px;
  }
  &__btn {
    min-width: 30px;
  }
  &-info {
    width: 50%;
    padding-right: $gutter;
    &__text {
      padding-left: $gutter;
      width: 100%;
      overflow: hidden;

      .track-artist {
        width: 100%;
      }
    }
  }
  &__album {
    width: 30%;
    padding-right: $gutter;
    overflow: hidden;
    a {
      display: block;
    }
  }
  &__date,
  &__duration {
    color: $c-gray;
    font-size: 14px;
    white-space: text-ellipsis;
    width: 10%;
  }
  &_date {
    padding-right: $gutter;
  }
  &__duration {
    text-align: right;
  }
}
</style>
