<template>
  <div class="login d-flex flex-column j-c-center a-i-center">
    <img src="@/assets/spoti-logo.svg" alt="" />
    <button class="login__button" ref="login_button">
      Войти
    </button>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { getHashParams, generateRandomString } from '@/utils/';

export default {
  name: 'App',
  computed: {
    ...mapGetters('auth', ['token'])
  },
  mounted() {
    this.$store.dispatch('player/init');
    let stateKey = 'spotify_auth_state';
    let params = getHashParams();
    let access_token = params.access_token,
      state = params.state,
      storedState = localStorage.getItem(stateKey);

    if (access_token && (state == null || state !== storedState)) {
      console.log(access_token);
    } else {
      localStorage.removeItem(stateKey);
      if (access_token) {
        this.$cookies.set('spotifyToken', access_token, '1h');
        this.$store.commit('auth/setToken', access_token);
        this.$router.push('/');
      }

      if (this.$refs.login_button) {
        this.$refs.login_button.addEventListener(
          'click',
          function() {
            let state = generateRandomString(16);
            let url = 'https://accounts.spotify.com/authorize';

            localStorage.setItem(stateKey, state);

            url += '?response_type=token';
            url += '&client_id=' + encodeURIComponent(process.env.VUE_APP_CLIENT_ID);
            url += '&scope=' + encodeURIComponent(process.env.VUE_APP_SCOPES);
            url += '&redirect_uri=' + encodeURIComponent(process.env.VUE_APP_REDIRECT_URI);
            url += '&state=' + encodeURIComponent(state);

            window.location = url;
          },
          false
        );
      }
    }
  }
};
</script>

<style lang="scss">
@import '@/scss/_variables';

.login {
  height: 100vh;
  img {
    width: 200px;
    margin-bottom: 30px;
  }
  &__button {
    background: $c-black;
    color: $c-white;
    width: 150px;
    padding: 0;
    line-height: 45px;
    border: 0;
    border-radius: $gutter / 2;
    font-weight: 700;
    font-size: 16px;
  }
}
</style>
