<template>
  <div class="not-found">
    404
    <router-link to="/">
      Вернуться домой
    </router-link>
  </div>
</template>

<style lang="scss" scoped>
.not-found {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  a {
    font-size: 30px;
  }
}
</style>
