<template>
  <div class="audio-icon audio-icon-toggle" :class="{ 'is-active': !playbackContext.paused }">
    <div class="audio-icon-nib"></div>
    <div class="audio-icon-nib"></div>
    <div class="audio-icon-nib"></div>
    <div class="audio-icon-nib"></div>
    <div class="audio-icon-nib"></div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'Equalizer',
  computed: {
    ...mapGetters('player', ['playbackContext'])
  }
};
</script>

<style lang="scss" scoped>
.audio-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
</style>
