<template>
  <div class="navbar-history">
    <span class="navbar-history__link" @click="prev()" content="Назад" v-tippy="{ placement: 'bottom', arrow: true }">
      <i class="las la-angle-left" />
    </span>
    <span class="navbar-history__link" @click="next()" content="Вперед" v-tippy="{ placement: 'bottom', arrow: true }">
      <i class="las la-angle-right" />
    </span>
  </div>
</template>

<script>
export default {
  name: 'navbar-history',

  methods: {
    next() {
      this.$router.forward();
    },
    prev() {
      this.$router.back();
    }
  }
};
</script>

<style scoped lang="scss">
@import '@/scss/_variables';

.navbar-history {
  display: inline-block;
  &__link {
    margin: 0 5px;
    line-height: 0;
    cursor: pointer;
    &:hover {
      color: $c-success;
    }
  }
}
</style>
