<template>
  <div class="navbar d-flex a-i-center">
    <History />
    <Search />
    <Dropdown v-if="profile" :profile="profile" />
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import History from './History';
import Search from './Search';
import Dropdown from '@/components/Profile/Dropdown';

export default {
  name: 'Navbar',
  computed: {
    ...mapGetters('profile', ['profile'])
  },
  async mounted() {
    await this.$store.dispatch('profile/getMe');
  },
  components: {
    History,
    Dropdown,
    Search
  }
};
</script>

<style lang="scss" scoped>
@import '@/scss/_variables';

.navbar {
  height: 50px;
  padding: $gutter;
  position: relative;
}
</style>
