<template>
  <form class="search">
    <input
      @focus="e => onFocus(e)"
      @keyup="e => onKeyUp(e)"
      class="navbar-search__input"
      type="search"
      placeholder="Поиск..."
    />
  </form>
</template>

<script>
export default {
  name: 'Search',
  methods: {
    onFocus(e) {
      const {
        name,
        params: { query }
      } = this.$route;

      const { value } = e.target;

      if (value) {
        this.$router.push({ name: 'search-track', params: { query: value } });
      } else if (name !== 'search' && !query) {
        this.$router.push('/search');
      }
    },
    onKeyUp(e) {
      const { value } = e.target;

      if (value !== '') {
        this.$router.replace({
          name: 'search-track',
          params: { query: value }
        });
        this.$store.dispatch('search/search', value);
      }
    }
  }
};
</script>

<style lang="scss" scoped>
@import '@/scss/_variables';

.search {
  margin: 0 auto 0 10px;
  input {
    border-radius: 30px;
    height: 30px;
    border: 1px solid transparent;
    padding: 0 10px;
    transition: 0.3s border-color ease-in-out;
    &:focus {
      border-color: $c-success;
    }
  }
}
</style>
