<template>
  <button
    @click="!isSaved ? addToSaved() : removeFromSaved()"
    class="add-to-saved reset-btn"
    :class="{ saved: isSaved }"
    :content="!isSaved ? 'Добавить в любимые треки' : 'Удалить из любимых треков'"
    v-tippy="{ placement: 'top', arrow: true }"
  >
    <i class="lar la-heart" v-if="!isSaved" />
    <i class="las la-heart" v-else />
  </button>
</template>

<script>
import api from '../../api';
import { mapGetters } from 'vuex';

export default {
  name: 'AddToSaved',
  props: ['trackID', 'isSaved'],
  computed: {
    ...mapGetters('tracks', ['lastSavedTrack', 'lastRemovedTrack'])
  },
  methods: {
    async addToSaved() {
      await api.addToMySavedTracks([this.trackID]);
      this.$store.commit('tracks/setSavedTrack', this.trackID);
      await this.$store.dispatch('tracks/getMyChandedTracks');
      this.$toasted.show('Добавлено в любимые треки', {
        type: 'info'
      });
    },
    async removeFromSaved() {
      await api.removeFromMySavedTracks([this.trackID]);
      this.$store.commit('tracks/setRemovedTrack', this.trackID);
      await this.$store.dispatch('tracks/getMyChandedTracks');
      this.$toasted.show('Удалено из любимых треков', {
        type: 'info'
      });
    }
  },
  watch: {
    async lastSavedTrack(val) {
      if (val === this.trackID) {
        await this.$emit('checkSavedTrack', val);
      }
    },
    async lastRemovedTrack(val) {
      if (val === this.trackID) {
        await this.$emit('checkSavedTrack', val);
      }
    }
  }
};
</script>

<style lang="scss" scoped>
@import '@/scss/_variables';

.add-to-saved {
  margin-left: $gutter / 3;
  color: $c-gray;
  &.saved {
    color: $c-success;
  }
}
</style>
