<template>
  <aside class="sidebar">
    <SidebarNav :links="browse" />
    <SidebarNav title="Моя медиатека" :links="library" />
    <div class="playlists-list" v-scroll>
      <SidebarNav title="Плейлисты" :links="myPlaylists" />
    </div>
  </aside>
</template>

<script>
import { mapGetters } from 'vuex';
import SidebarNav from './SidebarNav';

export default {
  name: 'Sidebar',
  data: () => ({
    browse: [
      {
        type: 'browse',
        name: 'Главная',
        icon: 'las la-home'
      }
    ],
    library: [
      {
        type: 'tracks-collection',
        name: 'Любимые треки  '
      },
      {
        type: 'albums-collection',
        name: 'Альбомы'
      },
      {
        type: 'artists-collection',
        name: 'Исполнители'
      }
    ]
  }),
  computed: {
    ...mapGetters('playlist', ['myPlaylists'])
  },
  components: {
    SidebarNav
  }
};
</script>

<style lang="scss" scoped>
@import '@/scss/_variables';

.sidebar {
  background: $c-black;
  width: 250px;
  padding: $gutter 0;

  .playlists-list {
    max-height: 600px;
  }
}
</style>
