<template>
  <div class="sidebar-nav">
    <h4 v-if="title" class="sidebar-nav__title">
      {{ title }}
    </h4>
    <ul>
      <router-link
        class="sidebar-nav__item text-ellipsis"
        active-class="sidebar-nav__item--active"
        v-for="(link, index) in links"
        :key="index"
        :to="createRoute(link)"
      >
        <span class="icon" v-if="link.icon">
          <i :class="link.icon"></i>
        </span>
        {{ link.name }}
      </router-link>
    </ul>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  name: 'SidebarNav',
  props: ['title', 'links'],
  computed: {
    ...mapGetters('player', ['playbackContext'])
  },
  methods: {
    createRoute(item) {
      let to = { name: item.type };

      switch (item.type) {
        case 'playlist': {
          Object.assign(to, {
            params: { user_id: item.owner.id, playlist_id: item.id }
          });
          break;
        }
      }

      return to;
    }
  }
};
</script>

<style lang="scss" scoped>
@import '@/scss/_variables';

.sidebar-nav {
  margin-bottom: $gutter * 2;

  h4 {
    margin-bottom: $gutter / 1.5;
    padding: 0 $gutter;
  }

  &__item {
    position: relative;
    display: block;
    font-size: 14px;
    padding: 0 $gutter;
    margin-bottom: $gutter / 1.5;
    text-decoration: none;
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      background: $c-success;
      content: '';
      width: $gutter / 3;
      height: 100%;
      opacity: 0;
    }
    &--active {
      &::after {
        opacity: 1;
      }
    }

    .icon {
      display: inline;
      font-size: 18px;
      margin-right: $gutter / 1.5;
    }
  }
}
</style>
