<template>
  <div class="player-controls d-flex a-i-center">
    <button
      class="player-controls__button shuffle reset-btn"
      @click="shuffle()"
      :class="{ active: isShuffle }"
      :content="isShuffle ? 'Не перемешивать' : 'Перемешать'"
      v-tippy="{ placement: 'top', arrow: true }"
    >
      <i class="las la-random" />
    </button>
    <button
      class="player-controls__button backward reset-btn"
      @click="back()"
      content="Назад"
      v-tippy="{ placement: 'top', arrow: true }"
    >
      <i class="las la-step-backward" />
    </button>
    <button
      class="player-controls__button play-toggle reset-btn"
      @click="playbackContext.paused ? play() : pause()"
      :content="playbackContext.paused ? 'Слушать' : 'Пауза'"
      v-tippy="{ placement: 'top', arrow: true }"
    >
      <i class="las la-play" v-if="playbackContext.paused" />
      <i class="las la-pause" v-else />
    </button>
    <button
      class="player-controls__button forward reset-btn"
      @click="next()"
      content="Далее"
      v-tippy="{ placement: 'top', arrow: true }"
    >
      <i class="las la-step-forward" />
    </button>
    <button
      class="player-controls__button repeat reset-btn"
      @click="repeat()"
      :content="repeatMode === 2 ? 'Не повторять' : repeatMode === 1 ? 'Повторять трек' : 'Повторять альбом/плейлист'"
      v-tippy="{ placement: 'top', arrow: true }"
      :class="{ context: repeatMode === 1, track: repeatMode === 2 }"
    >
      <i class="las la-redo-alt" />
    </button>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import spotifyApi from '../../api';

export default {
  name: 'Controls',
  data: () => ({
    isShuffle: undefined,
    repeatMode: undefined
  }),
  computed: {
    ...mapGetters('auth', ['token']),
    ...mapGetters('player', ['playback', 'playbackContext', 'isPlaying'])
  },
  watch: {
    playback: function() {
      this.isShuffle = this.playback.shuffle_state;
    },
    playbackContext: function() {
      this.repeatMode = this.playbackContext.repeat_mode;
    }
  },
  methods: {
    play() {
      spotifyApi.play();
    },
    pause() {
      spotifyApi.pause();
    },
    async shuffle() {
      await spotifyApi.setShuffle(!this.playbackContext.shuffle, { context_uri: this.playbackContext.uri });
    },
    async repeat() {
      const states = ['off', 'context', 'track'];

      let repeatState = this.playbackContext.repeat_mode;

      let index = repeatState === 2 ? 0 : repeatState + 1;

      await spotifyApi.setRepeat(states[index], { context_uri: this.playbackContext.uri });
    },
    back() {
      spotifyApi.skipToPrevious();
    },
    next() {
      spotifyApi.skipToNext({ context_uri: this.playbackContext.context.uri });
    }
  }
};
</script>

<style lang="scss" scoped>
@import '@/scss/_variables';

.player-controls {
  &__button {
    color: $c-gray;
    width: $gutter * 2;
    height: $gutter * 2;
    line-height: $gutter * 2;
    font-size: 16px;
    display: block;
    &.shuffle {
      &.active {
        color: $c-success;
      }
    }
    &.repeat {
      position: relative;
      &::after {
        content: '1';
        position: absolute;
        width: 10px;
        height: 10px;
        line-height: 10px;
        text-align: center;
        font-size: 6px;
        border-radius: 100%;
        display: none;
        top: 1px;
        right: 1px;
        z-index: 2;
        background: $c-success;
        color: $c-black;
      }
      &.context,
      &.track {
        color: $c-success;
      }
      &.track {
        &::after {
          display: block;
        }
      }
    }
    &.play-toggle {
      border-radius: 100%;
      border: 1px solid $c-gray;
      margin: 0 $gutter / 1.5;
      &:hover {
        border: 1px solid $c-white;
      }
    }
    &:hover {
      color: $c-white;
    }
  }
}
</style>
