<template>
  <div class="seek d-flex a-i-center j-c-center">
    <span>
      {{ progress | msToMinutes }}
    </span>
    <vue-slider
      v-model="progress"
      @drag-start="onDragStart"
      @change="onProgressChange"
      @drag-end="onDragEnd"
      @dragging="dragging"
      :max="songDuration"
      :dot-size="15"
      :tooltip="'none'"
      :process-style="{ background: '#1db954' }"
      :bg-style="{ background: '#737575' }"
      class="playback"
    />
    <span>
      {{ songDuration | msToMinutes }}
    </span>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import spotifyApi from '../../api';

export default {
  name: 'Playbak',
  data() {
    return {
      progress: 0,
      progressInterval: null,
      isDragStart: false,
      songDuration: 0,
      dragEndValue: 0
    };
  },
  computed: {
    ...mapGetters('auth', ['token']),
    ...mapGetters('player', ['playback', 'playbackContext', 'isPlaying'])
  },
  methods: {
    updateProgress() {
      clearInterval(this.progressInterval);
      this.progress = this.playbackContext.position;

      if (!this.playbackContext.paused) {
        this.progressInterval = setInterval(() => {
          if (this.playback && this.progress + 1000 <= this.songDuration) {
            this.progress = this.progress + 1000;
          }
        }, 1000);
      }
    },
    onDragStart() {
      this.isDragStart = true;
    },
    dragging(value) {
      this.dragEndValue = value;
    },
    onDragEnd() {
      this.isDragStart = false;
      spotifyApi.setAccessToken(this.token);
      spotifyApi.seek(this.dragEndValue);
    },
    onProgressChange(value) {
      if (!this.isDragStart) {
        this.isDragStart = false;
        spotifyApi.setAccessToken(this.token);
        spotifyApi.seek(value);
      }
    }
  },
  watch: {
    playback() {
      this.songDuration = this.playback.item.duration_ms;
    },
    playbackContext() {
      this.progress = this.playbackContext.position;
    },
    isPlaying() {
      this.updateProgress();
    }
  },
  created() {
    this.updateProgress();
    this.songDuration = this.playback.item.duration_ms;
  }
};
</script>

<style lang="scss" scoped>
@import '@/scss/_variables';

.seek {
  width: 100%;
  margin-top: $gutter / 1.5;
  span {
    font-size: 12px;
  }
  .playback {
    width: 100% !important;
    margin: 0 $gutter / 1.5;
  }
}
</style>
