<template>
  <div class="player d-flex">
    <div class="player__inner d-flex a-i-center j-c-sp-around" v-if="playback">
      <div class="player__left">
        <PlayingTrack />
      </div>
      <div class="player__center d-flex a-i-center j-c-center flex-wrap">
        <Controls />
        <Playbak />
      </div>
      <div class="player__right">
        <Volume />
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import spotifyApi from '../../api';
import Playbak from './Playbak';
import Controls from './Controls';
import Volume from './Volume';
import PlayingTrack from './PlayingTrack';

export default {
  computed: {
    ...mapGetters('auth', ['token']),
    ...mapGetters('player', ['device_id', 'playback', 'playbackContext'])
  },
  methods: {
    play() {
      spotifyApi.play({
        context_uri: this.playbackContext
      });
    }
  },
  components: {
    PlayingTrack,
    Playbak,
    Controls,
    Volume
  }
};
</script>

<style lang="scss" scoped>
@import '@/scss/_variables';

.player {
  height: 100%;
  &__inner {
    padding: 0 $gutter * 2;
    width: 100%;
    margin: auto 0;
  }
  &__center {
    width: 50%;
  }
  &__left {
    width: 30%;
  }
  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 30%;
  }
}
</style>
