<template>
  <div v-if="playback" class="playing-track d-flex a-i-center">
    <div class="playing-track__image-wrapper">
      <TrackImage
        :imageUri="playback.item.album.images[2].url"
        :uri="createUrlForCover(playback.context)"
        :alt="playback.item.album.name"
      />
    </div>

    <div class="playing-track__info">
      <div class="playing-track__info-header d-flex a-i-center">
        <router-link class="playing-track__link name" :to="{ name: 'album', params: { id: playback.item.album.id } }">
          {{ playback.item.name }}
        </router-link>
        <AddToSaved @checkSavedTrack="checkSavedTrack" :isSaved="isSavedTrack" :trackID="currentTrackID" />
      </div>

      <div class="playing-track__artists d-flex">
        <router-link
          class="playing-track__link artist"
          v-for="(artist, index) in playback.item.artists"
          :key="artist.id"
          :to="{ name: 'artist', params: { id: artist.id } }"
        >
          {{ artist.name }}
          <template v-if="index !== playback.item.artists.length - 1">
            ,&nbsp;
          </template>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
import api from '../../api';
import { mapGetters } from 'vuex';
import AddToSaved from '@/components/AddToSaved';
import TrackImage from '@/components/TrackImage';

export default {
  name: 'PlayingTrack',
  data: () => ({
    currentTrackID: '',
    isSavedTrack: false
  }),
  computed: {
    ...mapGetters('player', ['playback'])
  },
  methods: {
    async checkSavedTrack(id) {
      await api.containsMySavedTracks([id]).then(
        data => {
          this.isSavedTrack = data[0];
        },
        err => {
          this.$toasted.show(`${err}`, {
            type: 'error'
          });
        }
      );
    },
    createUrlForCover(context) {
      if (context) {
        const chunks = context.uri.split(':');
        let route = { name: context.type };

        switch (context.type) {
          case 'playlist':
            Object.assign(route, {
              params: {
                user_id: chunks[2],
                playlist_id: chunks[chunks.length - 1]
              }
            });
            break;

          case 'album':
          case 'artist':
            Object.assign(route, {
              params: { id: chunks[chunks.length - 1] }
            });
            break;
        }

        return route;
      } else {
        return {};
      }
    }
  },
  watch: {
    playback: async function() {
      if (this.currentTrackID !== this.playback.item.id) {
        this.currentTrackID = this.playback.item.id;
      }
      await this.checkSavedTrack(this.currentTrackID);
    }
  },
  async mounted() {
    this.currentTrackID = this.playback.item.id;
    await this.checkSavedTrack(this.currentTrackID);
  },
  components: {
    AddToSaved,
    TrackImage
  }
};
</script>

<style lang="scss" scoped>
@import '@/scss/_variables';

.playing-track {
  &__image-wrapper {
    width: 64px;
    height: 64px;
  }
  &__info {
    padding-left: $gutter;
  }
  &__link {
    display: block;
    &.name {
      color: $c-white;
      font-size: 15px;
    }
    &.artist {
      font-size: 12px;
    }
  }
}
</style>
