<template>
  <div class="volume-bar d-flex a-i-center j-c-end">
    <button
      class="volume-bar__button reset-btn"
      @click="onButtonClick"
      :content="volume ? 'Выключить звук' : 'Включить звук'"
      v-tippy="{ placement: 'top', arrow: true }"
    >
      <i class="las la-volume-down" v-if="volume" />
      <i class="las la-volume-mute" v-else />
    </button>
    <vue-slider
      class="volume-bar__slider"
      v-model="volume"
      @drag-start="onDragStart"
      @change="onSliderChange"
      @dragging="onDragging"
      @drag-end="onDragEnd"
      :tooltip="'none'"
      :dot-size="15"
      :process-style="{ background: '#1db954' }"
      :bg-style="{ background: '#737575', width: '80px' }"
    ></vue-slider>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import api from '../../api';

export default {
  name: 'volume-bar',

  data: () => ({
    volume: 0,
    tmpVolume: 0,
    dragStartVolume: 0,
    dragEndVolume: 0
  }),

  computed: {
    ...mapGetters('player', ['playback', 'device_id'])
  },

  methods: {
    setVolume(val) {
      api.setVolume(val);
    },

    onButtonClick() {
      if (this.volume > 0) {
        this.tmpVolume = this.volume;
        this.volume = 0;
      } else {
        this.volume = this.tmpVolume;
      }

      this.setVolume(this.volume);
    },

    onDragStart({ currentValue }) {
      this.dragStartVolume = currentValue;
    },

    onDragging(value) {
      this.dragEndVolume = value;
    },

    onDragEnd() {
      this.setVolume(this.dragEndVolume);
    },

    onSliderChange(value) {
      const diff = Math.abs(this.dragStartVolume - value);
      if (diff >= 10) {
        this.dragStartVolume = value;
        this.setVolume(value);
      }
    }
  },

  watch: {
    playbak() {
      this.volume = this.playbak.device.volume_percent;
    }
  },

  mounted() {
    this.volume = this.playback.device.volume_percent;
  }
};
</script>

<style lang="scss" scoped>
@import '@/scss/_variables';

.volume-bar {
  &__button {
    margin-right: $gutter / 1.5;
    color: $c-gray;
    cursor: pointer;
    width: $gutter * 2;
    height: $gutter * 2;
    font-size: 20px;
    &:hover {
      color: $c-white;
    }
  }
  &__slider {
    width: 100px !important;
  }
}
</style>
