<template>
  <div id="app" class="app">
    <component :is="layout">
      <router-view />
    </component>
  </div>
</template>

<script>
import AuthLayout from '@/layouts/AuthLayout.vue';
import MainLayout from '@/layouts/MainLayout.vue';

export default {
  name: 'App',
  computed: {
    layout() {
      return (this.$route.meta.layout || 'auth') + '-layout';
    }
  },
  components: {
    AuthLayout,
    MainLayout
  }
};
</script>

<style lang="scss">
@import '@/scss/main.scss';
</style>
