@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@300;400;500;700&display=swap');

body {
  font-family: 'Commissioner', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: $c-main-text;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

a {
  color: $c-gray;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: 0.25s text-decoration-color ease-in-out, 0.3s color ease-in-out;
  &:hover {
    color: $c-white;
    text-decoration-color: inherit;
  }
}
