.d-flex {
  display: flex;
}

.a-i-center {
  align-items: center;
}

.j-c-center {
  justify-content: center;
}

.j-c-sp-between {
  justify-content: space-between;
}

.j-c-sp-around {
  justify-content: space-around;
}

.j-c-end {
  justify-content: flex-end;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.reset-btn {
  padding: 0;
  border: 0;
  background: none;
}
