$c-black: #000;
$c-white: #fff;
$c-gray: #b3b3b3;
$c-gray-light: lighten($c-white, 80%);
$c-main-text: lighten($c-white, 10%);
$c-success: #1db954;
$c-danger: #ec1e32;
$c-primary: #509bf6;

$gutter: 15px;
