<template>
  <div class="main-wrapper d-flex flex-wrap">
    <Sidebar />
    <div class="main-wrapper__content">
      <Navbar />
      <div class="main-content">
        <slot />
      </div>
    </div>
    <footer class="footer">
      <Player />
    </footer>
  </div>
</template>

<script>
import Navbar from '@/components/Navbar/Navbar';
import Sidebar from '@/components/Sidebar/Sidebar';
import Player from '@/components/Player/Player';
import { mapGetters } from 'vuex';

export default {
  data: () => ({
    interval: null
  }),
  computed: {
    ...mapGetters('profile', ['profile'])
  },
  methods: {
    step() {
      this.interval = setInterval(() => {
        const token = this.$cookies.get('spotifyToken');
        if (this.profile.product !== 'premium') {
          this.$toasted.show('К сожалению использовать это приложение могут только пользователи с премиум аккаунтом.', {
            type: 'info'
          });
          this.$store.commit('auth/setToken', null);
          this.$router.push('/login');
        } else {
          if (!token) {
            this.$store.commit('auth/setToken', null);
            this.$router.push('/login');
          }
        }
      }, 1000);
    }
  },
  async mounted() {
    this.$store.dispatch('player/init');
    this.step();
    await this.$store.dispatch('playlist/getMyPlaylists');
  },
  beforeDestroy() {
    clearInterval(this.interval);
  },
  components: {
    Navbar,
    Sidebar,
    Player
  }
};
</script>

<style lang="scss">
@import '@/scss/_variables';

.main-wrapper {
  min-height: 100vh;
  overflow: hidden;
  &__content {
    width: calc(100% - 250px);
    height: calc(100vh - 90px);
    background: lighten($c-black, 20%);
    .main-content {
      height: calc(100vh - 140px);
      overflow-y: auto;
      padding: $gutter;
      &::-webkit-scrollbar {
        width: 0;
        display: none;
      }
    }
  }
  .footer {
    width: 100%;
    height: 90px;
    background: lighten($c-black, 10%);
  }
}
</style>
