<template>
  <div class="search-page">
    <div v-if="!query" class="search-page__info d-flex j-c-center a-i-center">
      Ищите ваших любимых исполнителей, альбомы, плейлисты или треки.
    </div>

    <div v-if="query" style="margin-bottom: 20px">
      <PageNav :links="navLinks" />
    </div>

    <Loader v-if="isLoadingData" />

    <div class="search-page__content">
      <router-view />
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import Loader from '@/components/Ui/Loader';
import PageNav from '@/components/PageNav';

export default {
  name: 'Search',
  computed: {
    ...mapState('search', [
      'query',
      'result',
      'isLoading',
      'error',
      'albumsIsLoading',
      'artistsIsLoading',
      'playlistsIsLoading',
      'tracksIsLoading'
    ]),
    isLoadingData() {
      return (
        this.isLoading ||
        this.tracksIsLoading ||
        this.albumsIsLoading ||
        this.artistsIsLoading ||
        this.playlistsIsLoading
      );
    },
    isTracksExists() {
      return this.result && this.result.tracks && this.result.tracks.total > 0;
    },
    isPlaylistsExists() {
      return this.result && this.result.playlists && this.result.playlists.total > 0;
    },
    isAlbumsExists() {
      return this.result && this.result.albums && this.result.albums.total > 0;
    },
    isArtistsExists() {
      return this.result && this.result.artists && this.result.artists.total > 0;
    },
    isResult() {
      return this.isTracksExists || this.isAlbumsExists || this.isPlaylistsExists || this.isArtistsExists;
    },
    isNoResultVisible() {
      return !this.isResult && this.query && !this.isLoading;
    },
    navLinks() {
      return [
        // {
        //   to: { name: 'search-result', params: { query: this.query } },
        //   name: 'Лучшие результаты'
        // },
        {
          to: { name: 'search-track', params: { query: this.query } },
          title: 'Треки',
          isVisible: this.isTracksExists
        },
        {
          to: { name: 'search-playlist', params: { query: this.query } },
          title: 'Плейлисты',
          isVisible: this.isPlaylistsExists
        },
        {
          to: { name: 'search-album', params: { query: this.query } },
          title: 'Альбомы',
          isVisible: this.isAlbumsExists
        },
        {
          to: { name: 'search-artist', params: { query: this.query } },
          title: 'Артисты',
          isVisible: this.isArtistsExists
        }
      ];
    }
  },
  components: {
    Loader,
    PageNav
  }
};
</script>

<style lang="scss" scoped>
@import '@/scss/_variables';

.search-page {
  position: relative;
  height: 100%;
  &__info {
    height: 100%;
  }
  &__content {
    height: calc(100vh - 190px);
  }
  &__nav {
    margin-bottom: $gutter;
    a {
      text-decoration: none;
      display: block;
      padding: 0 $gutter / 2;
      &.active {
        color: $c-success;
      }
    }
  }
}
</style>
