<template>
  <div v-scroll>
    <template v-if="isTracksExists">
      <PageTitle @click.native="goTo('search-track')" title="Треки" />

      <TrackList :tracks="getTracks" v-if="getTracks.length" />
    </template>

    <template v-if="isPlaylistsExists">
      <PageTitle @click.native="goTo('search-playlist')" title="Плейлисты" />

      <MediaContainer v-if="playlists.items.length">
        <MediaObject
          v-for="playlist in playlists.items"
          :key="playlist.id"
          :id="playlist.id"
          :uri="playlist.uri"
          :coverImg="playlist.images"
          :name="playlist.name"
          :type="playlist.type"
        />
      </MediaContainer>
    </template>

    <template v-if="isAlbumsExists">
      <PageTitle @click.native="goTo('search-album')" title="Альбомы" />
      <MediaContainer v-if="albums.items.length">
        <MediaObject
          v-for="album in albums.items"
          :key="album.id"
          :id="album.id"
          :uri="album.uri"
          :coverImg="album.images"
          :name="album.name"
          :artists="album.artists"
          :type="album.type"
        />
      </MediaContainer>
    </template>

    <template v-if="isArtistsExists">
      <PageTitle @click.native="goTo('search-artist')" title="Артисты" />
      <MediaContainer v-if="artists.items.length">
        <MediaObject
          v-for="artist in artists.items"
          :key="artist.id"
          :id="artist.id"
          :uri="artist.uri"
          :name="artist.name"
          :type="artist.type"
          :coverImg="artist.images"
        />
      </MediaContainer>
    </template>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import router from '@/router';

import PageTitle from '@/components/PageTitle';
import MediaObject from '@/components/MediaObject';
import MediaContainer from '@/components/MediaContainer';
import TrackList from '@/components/TrackList';

export default {
  name: 'SearchResult',

  components: {
    TrackList,
    MediaObject,
    PageTitle,
    MediaContainer
  },
  data() {
    return {
      maxResults: 12
    };
  },
  computed: {
    ...mapState('search', ['query', 'result', 'isLoading', 'error', 'albums', 'tracks', 'artists', 'playlists']),
    isTracksExists() {
      return this.tracks && this.tracks.total > 0;
    },
    isAlbumsExists() {
      return this.albums && this.albums.total > 0;
    },
    isArtistsExists() {
      return this.artists && this.artists.total > 0;
    },
    isPlaylistsExists() {
      return this.playlists && this.playlists.total > 0;
    },
    getTracks() {
      return this.tracks && this.tracks.items
        ? Object.keys(this.tracks.items)
            .slice(0, 5)
            .map(key => ({ ...this.tracks.items[key] }))
        : [];
    }
  },
  methods: {
    goTo(name) {
      router.push({ name, params: { query: this.query } });
    }
  }
};
</script>
