<template>
  <div v-scroll @vScroll="loadMore($event, tracks.next, getTracks)">
    <TrackList v-if="tracks.items.length" :tracks="tracks.items" />
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';

import { loadMore } from '@/mixins';
import TrackList from '@/components/TrackList';

export default {
  name: 'SearchTrack',
  mixins: [loadMore],
  components: {
    TrackList
  },
  computed: {
    ...mapState('search', ['tracks'])
  },
  methods: {
    ...mapActions({
      getTracks: 'search/getTracks'
    })
  }
};
</script>
