<template>
  <div v-scroll @vScroll="loadMore($event, artists.next, getArtists)">
    <MediaContainer v-if="artists.items.length">
      <MediaObject
        v-for="item in artists.items"
        :key="item.id"
        :id="item.id"
        :uri="item.uri"
        :name="item.name"
        :type="item.type"
        :coverImg="item.images"
      />
    </MediaContainer>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';

import { loadMore } from '@/mixins';
import MediaObject from '@/components/MediaObject';
import MediaContainer from '@/components/MediaContainer';

export default {
  name: 'SearchArtist',
  mixins: [loadMore],
  components: {
    MediaObject,
    MediaContainer
  },
  computed: {
    ...mapState('search', ['artists'])
  },
  methods: {
    ...mapActions({
      getArtists: 'search/getArtists'
    })
  }
};
</script>
