<template>
  <router-link class="track-image" :to="uri">
    <img v-lazy="imageUri" :alt="alt" />
  </router-link>
</template>

<script>
export default {
  name: 'TrackImage',
  props: ['uri', 'imageUri', 'alt']
};
</script>

<style lang="scss" scoped>
.track-image {
  display: block;
  height: 64px;
  width: 64px;
}
</style>
