<template>
  <button @click="onClick" :class="elClass">
    <slot></slot>
  </button>
</template>

<script>
export default {
  name: 'Button',
  props: {
    onClick: {
      required: true
    },
    isBlack: {
      default: false
    }
  },
  computed: {
    elClass() {
      return [
        'btn',
        {
          'btn--black': this.isBlack
        }
      ];
    }
  }
};
</script>

<style lang="scss" scoped>
@import '@/scss/_variables';

.btn {
  min-width: 130px;
  padding: 9px 37px;
  background: $c-success;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 700;
  color: $c-white;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  border: 0;
  transition: 0.3s background ease-in-out;
  &:hover {
    background: darken($c-success, 15%);
  }
  &--black {
    background: $c-black;
    &:hover {
      background: lighten($c-black, 10%);
    }
  }
}
</style>
