<template>
  <div class="loader d-flex a-i-center j-c-center">
    <div class="loadingio-spinner-spinner-cirb6nq2msb">
      <div class="ldio-w66di272db">
        <div />
        <div />
        <div />
        <div />
        <div />
        <div />
        <div />
        <div />
        <div />
        <div />
        <div />
        <div />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Loader'
};
</script>

<style lang="scss" scoped>
@import '@/scss/_variables';

.loader {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

@keyframes ldio-w66di272db {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.ldio-w66di272db div {
  left: 70.5px;
  top: 36px;
  position: absolute;
  animation: ldio-w66di272db linear 1s infinite;
  background: $c-success;
  width: 9px;
  height: 18px;
  border-radius: 4.5px / 9px;
  transform-origin: 4.5px 39px;
}
.ldio-w66di272db div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9166666666666666s;
  background: $c-success;
}
.ldio-w66di272db div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.8333333333333334s;
  background: $c-success;
}
.ldio-w66di272db div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.75s;
  background: $c-success;
}
.ldio-w66di272db div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.6666666666666666s;
  background: $c-success;
}
.ldio-w66di272db div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.5833333333333334s;
  background: $c-success;
}
.ldio-w66di272db div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.5s;
  background: $c-success;
}
.ldio-w66di272db div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.4166666666666667s;
  background: $c-success;
}
.ldio-w66di272db div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.3333333333333333s;
  background: $c-success;
}
.ldio-w66di272db div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.25s;
  background: $c-success;
}
.ldio-w66di272db div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.16666666666666666s;
  background: $c-success;
}
.ldio-w66di272db div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.08333333333333333s;
  background: $c-success;
}
.ldio-w66di272db div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: $c-success;
}
.loadingio-spinner-spinner-cirb6nq2msb {
  width: 150px;
  height: 150px;
  display: inline-block;
  overflow: hidden;
}
.ldio-w66di272db {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-w66di272db div {
  box-sizing: content-box;
}
</style>
